.form-steps__item.show
  h2.form-heading Hello there!
  form.box(method="post",action="#step_2")
    .form-group 
      p Let's buy some insurance. It is going to take only a few steps.
    .form-group.cta
      button.btn.btn-default.btn-next Start